@font-face{
  font-family: 'AppleGaramond-Regular';
  font-weight: 400;
  font-style: normal;
  src: local('AppleGaramond-Regular'),
       url('../fonts/AppleGaramond-Regular.woff2') format('woff2'),
       url('../fonts/AppleGaramond-Regular.woff') format('woff');
  font-display: swap;
}

@font-face{
  font-family: 'Century-Regular';
  font-weight: 400;
  font-style: normal;
  src: local('Century-Regular'),
       url('../fonts/Century-Regular.woff2') format('woff2'),
       url('../fonts/Century-Regular.woff') format('woff');
  font-display: swap;
}

@font-face{
  font-family: 'Roboto-Regular';
  font-weight: 400;
  font-style: normal;
  src: local('Roboto-Regular'),
       url('../fonts/Roboto-Regular.woff2') format('woff2'),
       url('../fonts/Roboto-Regular.woff') format('woff');
  font-display: swap;
}

@font-face{
  font-family: 'Roboto-Bold';
  font-weight: 700;
  font-style: normal;
  src: local('Roboto-Bold'),
       url('../fonts/Roboto-Bold.woff2') format('woff2'),
       url('../fonts/Roboto-Bold.woff') format('woff');
  font-display: swap;
}
