@media(max-width: 1366px){
  .promo{
    &__inner{
      flex-wrap: wrap;
      justify-content: center;
    }
    &__link-img{
      margin-right: auto;
    }
    &__clock-wrapper{
      margin: 50px 65px 0;
    }
    &__price{
      margin-bottom: 40px;
      justify-content: center;
    }
  }
  .map{
    width: 550px;
    height: 380px;
    iframe{
      width: 550px;
      height: 380px;
    }
  }
}

@media(max-width: 1220px){
  .popular,
  .discount{
    &__items{
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .catalogue{
    &__inner{
      display: block;
    }
    &__filters{
      position: relative;
      z-index: 2;
      width: 100%;
      margin-right: 0;
      display: none;
      background-color: $bg;
    }
    &__content{
      width: auto;
    }
    &__items{
      grid-gap: 50px;
    }
  }
  .filter-btn{
    z-index: 6;
    position: relative;
    display: block;
    padding: 0;
    background-color: transparent;
    border: none;
    line-height: 40px;
    padding-right: 42px;
    &.filter-btn--open{
      &::after{
        transform: rotate(90deg);
      }
    }
    &::after{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 40px;
      height: 40px;
      background-image: url('../images/icons/angle-right40.svg');
      transition: all .4s;
    }
  }
  .product{
    &__inner{
      justify-content: space-between;
    }
  }
}

@media (max-width: 1100px){
  .map{
    width: 500px;
    height: 330px;
    iframe{
      width: 500px;
      height: 330px;
    }
  }
  .map-contact{
    height: 250px;
    iframe{
      height: 250px;
    }
  }
  .footer{
    .menu{
      margin-right: 42px;
    }
  }
  .catalogue{
    &__items{
      grid-gap: 50px 0;
    }
  }
}

@media(max-width: 992px){
  .map{
    width: 400px;
    height: 350px;
    iframe{
      width: 400px;
      height: 350px;
    }
  }
  .popular,
  .discount{
    &__items{
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px 0;
    }
  }
  .blog{
    &__inner{
      grid-template-columns: repeat(2, 1fr);
    }
    &__item{
      max-width: 350px;
    }
    &__link-img{
      width: 100%;
    }
    &__img{
      width: 100%;
    }
  }
  .catalogue{
    &__items{
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px 0;
      justify-items: center;
    }
  }
  .catalogue-item{
    &__img{
      height: 250px;
    }
  }
  .product{
    &__img{
      max-height: 550px;
    }
    &__info-text{
      max-width: 194px;
    }
  }
  .contact{
    &__form-box{
      display: block;
    }
    &__form-input{
      width: 100%;
    }
  }
}

@media(max-width: 892px){
  .footer{
    &__top{
      display: block;
    }
    &__content{
      margin-bottom: 40px;
    }
  }
  .map{
    width: 100%;
    iframe{
      width: 100%;
    }
  }
  .promo{
    &__link-img{
      margin-left: 20px;
    }
  }
  .about{
    background-image: none !important;
    padding: 0;
    &__text{
      margin-bottom: 40px;
    }
    &__items{
      flex-wrap: wrap;
    }
    &__item{
      margin-bottom: 20px;
      &:first-child{
        margin-right: 40px;
      }
      &:last-child{
        margin: 0 auto;
      }
    }
  }
}

@media(max-width: 768px){
  .title{
    font-size: 33px;
    line-height: 33px;
  }
  .header{
    &__top{
      flex-wrap: wrap;
    }
    &__phone{
      margin-left: 150px;
    }
  }
  .menu-header{
    order: 1;
    padding-top: 25px;
    margin: 0 auto;
  }
  .promo{
    &__content{
      max-width: 100%;
    }
    &__link-img{
      margin: 30px 0;
    }
    &__clock-wrapper{
      margin: 0;
    }
    &__clock{
      justify-content: center;
    }
  }
  .popular,
  .discount{
    &__link{
      margin-left: 70px;
      font-size: 20px;
      line-height: 30px;
      width: 130px;
      flex: none;
    }
    &__items{
      grid-template-columns: repeat(1, 1fr);
      max-width: 347px;
      margin: 0 auto;
    }
  }
  .slick-arrow{
    z-index: 100;
    position: absolute;
    width: 50px;
    height: 50px;
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    top: 36%;
    &.slick-disabled{
      display: none !important;
    }
  }
  .slick-prev{
    left: 17px;
  }
  .slick-next{
    right: 17px;
  }
  .breadcrumbs{
    &__inner{
      display: block;
    }
    &__list{
      margin-bottom: 5px;
    }
  }
  .breadcrumbs{
    padding-bottom: 40px;
  }
  .product{
    padding: 0;
    &__inner{
      display: block;
    }
    &__img{
      max-height: 400px;
      margin: 0 auto;
      margin-bottom: 25px;
    }
    &__info-item{
      line-height: 30px;
    }
    &__info-title{
      max-width: 120px;
      margin-right: 25px;
    }
  }
  .contact{
    &__form{
      box-shadow: none;
      padding: 0;
    }
  }
}

@media(max-width: 640px){
  .header{
    background-position: -200px top;
    &__title{
      margin-top: 0;
      line-height: 50px;
      margin-bottom: 30px;
    }
    &__info{
      margin-bottom: 55px;
    }
    &__content{
      height: auto;
      padding: 13vh 0 18vh;
    }
  }
  .footer{
    padding: 50px 0;
    &__title{
      margin-bottom: 40px;
    }
  }
  .promo{
    padding-top: 60px;
    &__link-img{
      margin: 10px 0;
    }
    &__img{
      max-width: 200px;
    }
    &__clock-item{
      padding-right: 40px;
      margin-right: 40px;
    }
  }
  .popular{
    padding-top: 80px;
  }
  .discount{
    padding: 30px 0;
  }
  .about{
    .slick-arrow{
      top: 26%;
    }
    .slick-prev{
      left: -25px;
    }
    .slick-next{
      right: -25px;
    }
    &__items{
      display: block;
      max-width: 250px;
      margin: 0 auto;
    }
    &__item{
      &:last-child{
        margin: 0;
      }
    }
  }
  .blog{
    padding: 60px 0 30px;
    .slick-arrow{
      top: auto;
      bottom: -50px;
    }
    .slick-prev{
      left: -10px;
    }
    .slick-next{
      right: -10px;
    }
    &__inner{
      grid-template-columns: repeat(1, 1fr);
      max-width: 350px;
      margin: 0 auto;
    }
    &__img{
      max-height: 290px;
    }
  }
  .catalogue{
    &__items{
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 10px;
    }
  }
  .catalogue-item{
    margin: 0 auto;
    padding: 20px;
    &__title{
      font-size: 22px;
      line-height: 25px;
    }
  }
}

@media(max-width: 500px){
  .header{
    padding-top: 30px;
    &__top{
      position: relative;
    }
    &__btn{
      display: inline-block;
      position: relative;
      z-index: 6;
      padding: 0;
      border: none;
      background-color: transparent;
      width: 37px;
      height: 21px;
      overflow: hidden;
      span{
        display: block;
        width: 37px;
        height: 3px;
        background-color: $accent;
        transition: all .3s;
        transform: translateY(0);
      }
      &::before,
      &::after{
        content: '';
        position: absolute;
        width: 37px;
        height: 3px;
        background-color: $accent;
        left: 0;
        transition: all .5s;
      }
      &::before{
        top: 0;
      }
      &::after{
        bottom: 0;
      }
    }
    &__btn--open{
      span{
        opacity: 0;
        transform: translateY(-100px);
      }
      &::before{
        transform: rotate(45deg);
        top: 9px;
      }
      &::after{
        transform: rotate(-45deg);
        bottom: 9px;
      }
    }
    &__phone{
      display: none;
    }
  }
  .logo{
    margin: 0;
    position: relative;
    z-index: 6;
  }
  .menu-header{
    z-index: 5;
    top: 35px;
    left: 0;
    right: 0;
    position: absolute;
    transform: translateY(-400%);
    transition: all .7s;
    padding: 15px 20px;
    background-color: $bg;
    .menu__list{
      display: block;
    }
    .menu__list-item{
      margin-right: 0;
      margin-bottom: 10px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  .menu{
    &__list-link--catalogue{
      padding-right: 24px;
    }
    &__list-link-box{
      background-color: $bg;
    }
    &__list-link-wrap--disabled{
      display: block;
    }
  }
  .modal{
    height: 150vh;
    margin-top: -280px;
  }
  .footer{
    &__content{
      display: block;
    }
    .menu{
      margin-bottom: 30px;
    }
  }
  .map{
    height: 300px;
    iframe{
      height: 300px;
    }
  }
  .promo{
    &__title,
    &__clock-title{
      margin-bottom: 20px;
    }
    &__subtitle{
      line-height: 35px;
      margin-bottom: 20px;
    }
    &__price{
      font-size: 30px;
      line-height: 55px;
      justify-content: space-between;
      margin-bottom: 20px;
    }
    &__price-old{
      margin: 0;
      padding: 0;
      &::before{
        width: 90px;
      }
      &::after{
        display: none;
      }
    }
    &__price-new{
      font-size: 36px;
    }
    &__clock{
      margin-bottom: 30px;
    }
    &__clock-item{
      padding-right: 17px;
      margin-right: 17px;
      &:last-child{
        width: 82px;
      }
      &::after{
        top: 22px;
        height: 60px;
      }
    }
    &__time{
      font-size: 36px;
      line-height: 60px;
    }
    &__text{
      font-size: 20px;
      line-height: 40px;
    }
  }
  .popular,
  .discount{
    &__top{
      display: block;
      margin-bottom: 30px;
    }
    &__title{
      margin-bottom: 20px;
    }
    &__link{
      margin-left: 0;
    }
  }
  .catalogue-item{
    &__img{
      height: 200px;
    }
  }
  .product{
    &__img{
      max-height: 300px;
    }
    &__descr{
      margin-bottom: 15px;
    }
    &__info-text{
      max-width: 140px;
    }
    &__info{
      margin-bottom: 10px;
    }
    &__price{
      font-size: 36px;
      line-height: 67px;
      margin-bottom: 10px;
    }
    &__form-btn{
      width: 170px;
      height: 60px;
      font-size: 18px;
    }
  }
  .star{
    margin: 15px 0;
  }
  .jq-number{
    margin-bottom: 10px;
    &::before,
    &::after{
      height: 30px;
    }
  }
  .jq-number__field{
    width: 170px;
    height: 60px;
  }
  .jq-number__field input{
    font-size: 30px;
    line-height: 55px;
  }
}

@media (max-width: 375px){
  body{
    font-size: 16px;
    line-height: 28px;
  }
  .title{
    font-size: 30px;
    line-height: 30px;
  }
  .header{
    &__title{
      font-size: 43px;
      line-height: 45px;
      margin-bottom: 25px;
    }
    &__info{
      margin-bottom: 50px;
    }
    &__link{
      padding: 12px 50px;
    }
  }
  .product{
    &__info-item{
      line-height: 26px;
      margin-bottom: 5px;
    }
  }
}