@media(max-width: 1366px){

}

@media(max-width: 1220px){

}

@media (max-width: 1100px){

}

@media(max-width: 992px){

}

@media(max-width: 860px){
  .header{
    &__top{
      flex-wrap: wrap;
    }
  }
  .menu-header{
    order: 1;
    padding-top: 20px;
  }
}

@media(max-width: 768px){
}

@media(max-width: 620px){

}

@media(max-width: 500px){
  .header{
    padding-top: 30px;
    &__top{
      position: relative;
    }
    &__btn{
      display: inline-block;
      position: relative;
      z-index: 11;
      padding: 0;
      border: none;
      background-color: transparent;
      width: 37px;
      height: 21px;
      span{
        display: block;
        width: 37px;
        height: 3px;
        background-color: $accent;
        transition: all .3s;
      }
      &::before,
      &::after{
        content: '';
        position: absolute;
        width: 37px;
        height: 3px;
        background-color: $accent;
        left: 0;
        transition: all .3s;
      }
      &::before{
        top: 0;
      }
      &::after{
        bottom: 0;
      }
    }
    &__btn--open{
      span{
        opacity: 0;
      }
      &::before{
        transform: rotate(40deg);
        top: 9px;
      }
      &::after{
        transform: rotate(-40deg);
        bottom: 9px;
      }
    }
    &__phone{
      margin: 0;
      display: none;
    }
  }
  .logo{
    margin: 0;
    position: relative;
    z-index: 11;
  }
  .menu-header{
    top: 35px;
    left: 0;
    right: 0;
    position: absolute;
    transform: translateY(-400%);
    transition: all .7s;
    padding: 15px 20px;
    background-color: $bg;
    .menu__list{
      display: block;
    }
    .menu__list-item{
      margin-right: 0;
    }
  }
}

@media (max-width: 375px){
}