@media(max-width: 1366px){

}

@media(max-width: 1220px){

}

@media (max-width: 1100px){

}

@media(max-width: 992px){

}

@media(max-width: 860px){
  .header{
    &__top{
      flex-wrap: wrap;
    }
  }
  .menu{
    order: 1;
    padding-top: 20px;
  }
}

@media(max-width: 768px){

}

@media(max-width: 620px){

}

@media(max-width: 500px){
  .header{
    &__top{
      display: block;
    }
  }
  .menu{
    transform: translateY(-3000%);
    position: absolute;
    &__list{
      display: block;
    }
  }
}

@media (max-width: 375px){

}