$main: #fff;
$bg: #1B2023;
$accent: #EABC78;
$catalogue: #0054ff;

%applegaramond-400{
  font-family: 'AppleGaramond-Regular', serif;
  font-weight: 400;
}

%century-400{
  font-family: 'Century-Regular', serif;
  font-weight: 400;
}

%roboto-400{
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
}

%roboto-700{
  font-family: 'Roboto-Bold', sans-serif;
  font-weight: 700;
}

%checkbox-hidden,
%radio-hidden{
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}

%checkbox{
  color: $accent;
  background-color: #3c3c39;
}

@function max($numbers...) {
 @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
 @return m#{i}n(#{$numbers});
}








