$main: #fff;
$bg: #1B2023;
$accent: #EABC78;

%applegaramond-400{
  font-family: 'AppleGaramond-Regular', sans-serif;
  font-weight: 400;
}

%century-400{
  font-family: 'Century-Regular', serif;
  font-weight: 400;
}

%mallanna-400{
  font-family: 'Mallanna-Regular', sans-serif;
  font-weight: 400;
}








